/* .deck{
    border-top: 2px dotted #E1AD01;
    padding-top: 5px;

}


p{
    padding-left: 5px;
    padding-right: 5px;
}

/* position: absolute;
right: 10px;
top: 5px; */

h2{
    text-align: center;
    display: flex;
    padding: 2px;
} 

.cardBtns{
    /* position: right; */
    /* right: 10px; */
    /* top: 5px; */
    float: right;
    text-align: right !important;
}

.deleteBtn{
    background-color: #ca523f;
}

.editBtn{
    background-color: #e39023;
}

.deckTitle{
    text-align: center;
    position: center;
    float: center;
}